.experience-container {
    padding: 24px;
}

.experience-title {
    font-size: 33px;
    color: white;
    font-weight: 700;
    transform: translateY(14px);
}

.experience-header {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.experience-card {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.305);
    max-width: 420px;
    height: auto;
    transition: none;
}

.experience-img {
    margin: 9px;
    border-radius: 25px 25px 0px 0px;
    overflow: hidden;
    height: 179px;

}

.experience-img img {
    width: 100%;
    height: 178px;
    object-fit: cover;
}

.experience-img img {
    width: 100%;
    height: 178px;
    object-fit: cover;
}

.experience-logos {
    display: flex;
    gap: 10px;
    align-items: center;

}

.experience-fagithub {
    color: white;
    padding: 6px;
    width: 49px;
    height: 46px;
}

.experience-titles {
    display: flex;
    flex-direction: column;
    gap: 1px;

}

.title-net {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.title-development {
    font-weight: 700;
    color: rgb(97, 159, 166);
}

.experience-description {
    padding: 15px 10px 2px 10px;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(237, 235, 235);
    white-space: pre-line;
    margin: 0;
}
.falink {
    color: white;
    width: 25px;
    height: 25px;
}
.experience-infovid{
    padding: 10px 10px 10px 10px;
    margin: 0;
    font-size: 16px;
}

.link-net {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

.link-net a {
    color: white;
    margin: 1px;
    font-weight: 700;
}

.experience-vd{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.experience-video{
    background-color: aqua;
    border-radius: 20px;
    width: 340px;
    min-height: 200px;
}