.header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 50px;
}


.icon-fanh {
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
}

.icon-figlobe {
    width: 35px;
    height: 35px;
    justify-content: flex-end;
    color: white;
    cursor: pointer;
}

.header-icon {
    display: flex;
    background-color: rgb(253, 253, 253);
    border-radius: 20px;
    width: 120px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.icon-fasun {
    width: 45px;
    height: 26px;
    color: white;
}

.icon-notific{
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.theme-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;

}

.theme-btn svg {
    font-size: 20px;
    color: #0b0b0b;
}

.active-sun svg,
.active-moon svg {
    color: #fff;
}

.active-sun {
    background-color: var(--dodger-blue);
}

.active-moon {
    background-color: var(--dodger-blue);
}