.container-apps {
    width: 100%;
    padding: 30px;
}

.title-app {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.header-apps {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    height: auto;
}


.card-apps {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.305);
    width: 420px;
    height: auto;
    border-radius: 25px;
    transition: none;
}

.card-img {
    height: 176px;
    margin: 9px;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
}

.logo-apps {
    display: flex;
    gap: 10px;
    align-items: center;
}


.title-apps {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.apps-fagithub {
    color: white;
    padding: 6px;
    width: 47px;
    height: 46px;

}

.title-ui {
    display: flex;
    color: white;
    font-size: 22px;
    font-weight: 700;
    gap: 20px;
}

.title-offli {
    font-size: 15px;
    font-weight: 700;
    color: rgb(97, 159, 166);
}

.description-apps {
    width: 420px;
    height: 205px;
    padding: 10px;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    color: rgb(222, 220, 220);
    white-space: pre-line;
}

.apps-list {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    margin: 16px;
    justify-content: center;
}

.apps-item {
    padding: 6px 14px;
    background: rgba(255, 255, 255, 0.436);
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: #0c63c0;
    transition: 0.3s;
}