.sevirces-container {
     min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.services-titulo {
    color: white;
    text-align: center;
}

.services-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 50vh;
}

.service-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.305);
    width: 260px;
    height: 260px;
    border-radius: 12px;
    padding: 12px;
    align-items: center;
    justify-content: center;
}

.service-img {
    display: flex;
    align-items: center;
    width: 185px;
    height: 190px;
    border-radius: 20px;
}

.service-title {
    color: #0973e4;
    font-size: 15px;
    font-weight: 700;
}

.btn-contacto-container {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    padding: 12px;
    width: 100%;
}

.btn-contacto {
    padding: 8px 40px;
    font-size: 19px;
    border-radius: 10px;
    background: transparent;
    color: white;
    font-weight: 700;
    border: 2px solid rgba(255, 255, 255, 0.484);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}

.btn-contacto:hover {
   background: rgba(255, 255, 255, 0.635);
    color: #0c63c0;
    font-weight: 700;
}

