.sidebar {
  width: var(--sidebar-width, 260px);
  height: 100vh;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border-right: 1px solid #465d6a;
  transition: transform 0.3s ease;
}


.logo {
  width: 100%;
  text-transform: uppercase;
  padding: 0px;
  text-align: center;
  margin: 0px;
}

.title {
  font-size: clamp(26px, 4vw, 36px);
  margin-bottom: 4px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

.subtitle{
  font-size: 15px;
  margin-top: 0px;
  font-weight: 700;
  color: #0c63c0;
}


.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.menu-btn {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.484);
  border-radius: 12px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  transition: 0.25s ease;
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
}

.menu-btn:hover {
  background: rgba(209, 217, 221);
  color: #0c63c0;
}

.menu-btn.active {
  background: rgba(209, 217, 221);
  color: #0c63c0;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 900px) {
  .sidebar {
    max-width: 320px;
    transform: translateX(-100%);
  }

  .sidebar.sidebar-open {
    transform: translateX(0);
  }
}

@media (max-width: 380px) {
  .menu-btn {
    font-size: 16px;
  }
}
