.credits-slider {
    display: flex;
    height: 280px;
    align-items: center;
    justify-content: center;
}

.credits-slider-content {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}


.arrow {
    display: flex;
    width: 244px;
    height: 240px;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.821);
    margin: -60px;
    flex-shrink: 0;
}

.credits-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 23px;
    color: white;
}

.link {
    color: #4da3ff;
    text-decoration: none;
}

.store-link {
    color: #2d7dff;
    font-weight: 600;
    text-decoration: underline;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 700px) {
    .credits-slider {
        height: auto;
        padding: 20px 0;
    }

    .arrow {
        width: 60px;
        height: 60px;
        margin: 0;
    }

    .credits-content {
        font-size: 16px;
    }
}
