

.blogdetaill-title{
    text-align: center;
    font-size: clamp(30px, 6vw, 50px);
    color: white;
}

.blogdetaill-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.blogdetaill-img{
    width: 80%;
    height: 170px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.blogdetaill-icon {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.blogdetaill-facoment,
.blogdetaill-fabookmark,
.blogdetaill-fahands,
.blogdetaill-date {
font-size: 18px;
}

.blogdetaill-info{
    width: 90%;
    max-width: 900px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}


.blogdetaill-meta{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 14px;
    font-size: 13px;
    color: #ffffff;
}

.blogdetaill-meta span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    font-weight: 700;
    margin: 0;
}

.blogdetaill-author-container{
    display: flex;
    margin-top: auto;
}


.blogdetaill-author {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
}

.blogdetaill-infordescription{
    display: flex;
    justify-content: center;
}

.blogdetaill-description{
    width: 90%;
    max-width: 900px;
    height: auto;
    padding: 20px;
    color: white;
    
}

.blogdetaill-description-text{
    font-size: clamp(16px, 2.4vw, 24px);
    line-height: 1.6;
    font-weight: 500;
    white-space: pre-line;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 600px) {
    .blogdetaill-img {
        width: 100%;
        height: 130px;
    }

    .blogdetaill-info,
    .blogdetaill-description {
        width: 100%;
        padding: 12px;
    }
}
